* {
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.page-title-span {
    margin-left: 10px;
}


.button-right-icon {
    margin-left: 10px;
}

.login-cover {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    float: left;
    display: block;
}

#loginProgress {
    display: none;
}

.mdl-dialog__title {
    float: left;
}

.mdl-dialog__content p {
    float: left;
    margin-top: 10px;
    
}

table {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}

table tr td{
  padding: 10px;
  border: 1px solid #ccc;
}

table tr button {
  background: #282c34;
  color: #fff;
  padding: 10px;
}

.upload-section {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



h6 {
    margin-right: 20px;
}




